<div class="row">
  <h1 class="col-sm-6">Editing Pin</h1>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="form col-sm-6">

    <%= render 'form' %>

    <%= link_to 'Show', @pin %> |
    <%= link_to 'Back', pins_path %>
  </div>
</div>